header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 10;
    border-bottom: 2px solid #a8a8a8;
}

.logo {
    margin-left: 10px;
}

.leaf {
    height: 20px;
}

header>nav>img {
    width: 300px; 
}

header>nav>ul {
    list-style-type: none;
    display: flex;
    align-items: center; 
}

.nav-bar>ul>li a {
    display: flex;
    margin: 5px;
    font-size: 20px;
    color: #99ca3c;
    padding-right: 10px;
    text-decoration: none;
}

.nav-bar>ul>li a:hover {
    text-decoration: underline;
}

.container-para {
    position: relative;
    width: 66%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container-para>div {
    width: 28%;
    padding: 2%;
}


@media only screen and (max-width: 1500px) and (min-width: 491px) {
    .container-para {
        width: 80%; 
    }

    .container-para>div {
        width: 45%;
    }
}


@media only screen and (max-width: 490px) {
    body {
        padding: 0;
        margin: 0;
    }


    header>nav>img {
        width: 80%; 
        margin: 0 auto;
    }

    header>nav>ul {
        list-style-type: none;
        width: 100%;
        background-color: #99ca3c;
        padding: 2%;
        text-align: center;
        display: block; 
    }

    header>nav>ul>li {
        padding: 1%;

    }

    .nav-bar>ul>li>a {
        text-decoration: none;
        color: #ffffff;
        padding: 1%;
        text-align: center;
    }

    header>nav>ul>li>a:hover {
        background-color: #ffffff;
        color: #99ca3c;

    }

    .container-para {
        width: 100%; 
    }

    .container-para>div {
        width: 100%;
        margin-bottom: 10px;
    }

    .container-para>div>h2, .container-para>div>p {
        margin-left: 10px; 
        text-align: center; 
    }
}
