* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 10;
    border-bottom: 2px solid #a8a8a8;
    padding: 0 20px;
}

.logo {
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.leaf {
    height: 20px;
}

header nav img {
    height: 40px;
    width: auto;
    max-width: 100%;
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-bar ul li a {
    margin: 0 10px;
    font-size: 18px;
    color: #99ca3c;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.nav-bar ul li a:hover {
    text-decoration: underline;
}

.container-para {
    position: relative;
    width: 90%;
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container-para>div {
    flex: 1 1 calc(33.333% - 30px);
    padding: 2%;
    box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
    header {
        height: 100px;
        padding: 0 15px;
    }

    .logo {
        height: 75px;
    }

    .nav-bar ul li a {
        font-size: 16px;
    }

    .container-para>div {
        flex: 1 1 calc(50% - 20px);
    }
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        width: 100%;
    }

    header nav ul li {
        padding: 10px 0;
    }

    .container-para {
        width: 90%;
        margin-top: 230px;
    }

    .container-para>div {
        flex: 1 1 100%;
    }
}

@media only screen and (max-width: 480px) {
    header nav img {
        width: 80%;
        margin: 0 auto;
    }

    header nav ul {
        background-color: #99ca3c;
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }

    .nav-bar ul li a {
        color: #ffffff;
        font-size: 16px;
        text-align: center;
    }

    .nav-bar ul li a:hover {
        background-color: #ffffff;
        color: #99ca3c;
    }

    .container-para {
        width: 100%;
        margin-top: 240px;
    }

    .container-para>div {
        width: 100%;
        margin-bottom: 10px;
    }

    .logo {
        margin-left: 20px;
        height: 72px;
    }

    .container-para>div>h2,
    .container-para>div>p {
        text-align: center;
        margin: 0 auto;
    }
}